Repository mrdvince/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate-images-pipeline, trigger-images-sync, publish-charts

Path conditions:
  generate-images-pipeline: any of: infrastructure/images/images/**/*.yaml, infrastructure/images/builds/**/*.yaml, infrastructure/images/templates/**/*.yml
  trigger-images-sync: any of: infrastructure/images/images/**/*.yaml, infrastructure/images/builds/**/*.yaml, infrastructure/images/templates/**/*.yml
  publish-charts: any of: charts/**/*

update sync rules for charts
  .gitlab-ci.yml
Due: none

update ci to sync local images
  .gitlab-ci.yml
  ci/images.sh
Due: none

fix ci image builds build-all
  .gitlab-ci.yml
  ci/images.sh
  renovate.json
Due: none

remove trivy from image build-all
  .gitlab-ci.yml
  ci/images.sh
  infrastructure/images/builds/builder.yaml
  infrastructure/images/dockerfiles/builder/Dockerfile
Due: generate-images-pipeline, trigger-images-sync

add renovate job
  .gitlab-ci.yml
Due: none

sync images only on main
  .gitlab-ci.yml
Due: none

Update Helm release argo-cd to v9.5.17
  apps/core/argocd/helmfile.yaml.gotmpl
Due: none

only render sync pipelines with image changes
  ci/images.sh
Due: none

Update container images
  charts/bar-assistant/values.yaml
  infrastructure/images/dockerfiles/excalidraw/Dockerfile
  infrastructure/images/images/local/apps.yaml
  infrastructure/images/images/local/drawio.yaml
  infrastructure/images/images/local/freshrss.yaml
  infrastructure/images/images/local/renovate.yaml
Due: generate-images-pipeline, trigger-images-sync, publish-charts

Update Helm release kube-prometheus-stack to v81.6.9
  apps/monitoring/prometheus/helmfile.yaml.gotmpl
Due: none

add actual update strategy
  apps/services/actual/values.yaml.gotmpl
  charts/actual/templates/deployment.yaml
  charts/actual/values.yaml
Due: publish-charts

Update Helm release meilisearch to v0.32.0
  charts/bar-assistant/Chart.yaml
Due: publish-charts

update secrets
  secrets/secrets.enc.yaml
Due: none

build an alloy container
  infrastructure/images/builds/alloy.yaml
  infrastructure/images/dockerfiles/alloy/Dockerfile
Due: generate-images-pipeline, trigger-images-sync

fixing sha and libsystemd0 for alloy loki source journal
  infrastructure/images/dockerfiles/alloy/Dockerfile
Due: none

add opnsense metrics exporter
  infrastructure/elysium/olly/metrics/terragrunt.hcl
Due: none

opnsense dashboard
  dashboards/opnsense/opnsense.json
Due: none

create snmp exporter
  infrastructure/_envcommon/olly.hcl
  infrastructure/elysium/olly/metrics/terragrunt.hcl
  secrets/secrets.enc.yaml
Due: none

update opnsense dashboard to use snmp metrics
  dashboards/opnsense/opnsense.json
Due: none

add alloy config templates and relabels
  infrastructure/_envcommon/olly.hcl
  infrastructure/_templates/olly/logs.alloy.tftpl
  infrastructure/_templates/olly/metrics.alloy.tftpl
  infrastructure/avalon/olly/logs/terragrunt.hcl
  infrastructure/avalon/olly/metrics/terragrunt.hcl
  infrastructure/elysium/olly/logs/terragrunt.hcl
  infrastructure/elysium/olly/metrics/terragrunt.hcl
  infrastructure/images/images/local/opnsense-exporter.yaml
  infrastructure/tirnanog/olly/logs/terragrunt.hcl
  infrastructure/tirnanog/olly/metrics/terragrunt.hcl
Due: generate-images-pipeline, trigger-images-sync

add opensense syslog
  infrastructure/_templates/olly/logs.alloy.tftpl
  infrastructure/avalon/olly/logs/terragrunt.hcl
  infrastructure/elysium/olly/logs/terragrunt.hcl
  infrastructure/tirnanog/olly/logs/terragrunt.hcl
Due: none

add democratic-csi images
  infrastructure/images/images/local/democratic-csi.yaml
  infrastructure/images/images/local/sig-storage.yaml
Due: generate-images-pipeline, trigger-images-sync

use democratic-csi for truenas iscsi pvcs
  apps/storage/democratic-csi/argocd.yaml
  apps/storage/democratic-csi/helmfile.yaml.gotmpl
  apps/storage/democratic-csi/values.yaml.gotmpl
  secrets/secrets.enc.yaml
Due: none

add grafana alerting rules and routing to ntfy
  apps/monitoring/grafana/alerting/contactpoints.yaml
  apps/monitoring/grafana/alerting/metric-rules.yaml
  apps/monitoring/grafana/alerting/policies.yaml
  apps/monitoring/grafana/alerting/rules.yaml
  apps/monitoring/grafana/values.yaml.gotmpl
  apps/monitoring/prometheus/values.yaml.gotmpl
Due: none

set revision histories for apps
  apps/core/argocd/values.yaml.gotmpl
  apps/core/cert-manager/values.yaml.gotmpl
  apps/core/external-dns/values.yaml.gotmpl
  apps/core/metrics-server/helmfile.yaml.gotmpl
  apps/core/traefik/values.yaml.gotmpl
  apps/monitoring/alloy/values.yaml.gotmpl
  apps/monitoring/grafana/values.yaml.gotmpl
  apps/monitoring/loki/values.yaml.gotmpl
  apps/monitoring/prometheus/values.yaml.gotmpl
  apps/monitoring/tempo/values.yaml.gotmpl
  apps/services/code-server/values.yaml.gotmpl
  apps/services/drawio/values.yaml.gotmpl
  apps/services/excalidraw/values.yaml.gotmpl
  apps/services/freshrss/values.yaml.gotmpl
  apps/services/it-tools/values.yaml.gotmpl
  apps/services/karakeep/karakeep/values.yaml.gotmpl
  apps/services/mealie/mealie/values.yaml.gotmpl
  apps/services/netbootxyz/values.yaml.gotmpl
  apps/services/netbox/netbox/values.yaml.gotmpl
  apps/services/omni-tools/values.yaml.gotmpl
  apps/services/pairdrop/values.yaml.gotmpl
  apps/services/paperless/paperless/values.yaml.gotmpl
  apps/services/scanopy/scanopy/values.yaml.gotmpl
  apps/services/termix/values.yaml.gotmpl
Due: none

format grafana alerts to notify
  apps/monitoring/grafana/alerting/contactpoints.yaml
Due: none

move from local storage to iscsi
  apps/monitoring/grafana/values.yaml.gotmpl
  apps/monitoring/loki/values.yaml.gotmpl
  apps/monitoring/prometheus/values.yaml.gotmpl
  apps/monitoring/pyroscope/values.yaml.gotmpl
  apps/monitoring/tempo/values.yaml.gotmpl
  apps/services/actual/values.yaml.gotmpl
  apps/services/blog/values.yaml.gotmpl
  apps/services/freshrss/postgres/values.yaml.gotmpl
  apps/services/mealie/postgres/values.yaml.gotmpl
  apps/services/netbox/netbox/values.yaml.gotmpl
  apps/services/netbox/postgres/values.yaml.gotmpl
  apps/services/paperless/postgres/values.yaml.gotmpl
  apps/services/scanopy/postgres/values.yaml.gotmpl
Due: none

update contact point template
  apps/monitoring/grafana/alerting/contactpoints.yaml
Due: none

Update Helm release cilium to v1.19.5
  apps/core/cilium/helmfile.yaml.gotmpl
Due: none

Update container images
  infrastructure/images/images/local/apps.yaml
  infrastructure/images/images/local/renovate.yaml
  infrastructure/images/images/local/sig-storage.yaml
Due: generate-images-pipeline, trigger-images-sync

Update Helm release longhorn to v1.12.0
  apps/storage/longhorn/helmfile.yaml.gotmpl
Due: none

Update container images
  infrastructure/images/dockerfiles/alloy/Dockerfile
  infrastructure/images/images/local/drawio.yaml
Due: generate-images-pipeline, trigger-images-sync

Update Helm release gitlab to v9.11.7
  apps/services/gitlab/helmfile.yaml.gotmpl
Due: none

Update helm charts (minor/patch)
  apps/core/argocd/helmfile.yaml.gotmpl
  apps/core/cert-manager/helmfile.yaml.gotmpl
  apps/core/metrics-server/helmfile.yaml.gotmpl
  apps/monitoring/alloy/helmfile.yaml.gotmpl
  apps/monitoring/beyla/helmfile.yaml.gotmpl
  apps/services/freshrss/helmfile.yaml.gotmpl
  apps/services/gitlab/helmfile.yaml.gotmpl
  apps/services/mealie/helmfile.yaml.gotmpl
  apps/services/netbox/helmfile.yaml.gotmpl
  apps/services/paperless/helmfile.yaml.gotmpl
  apps/services/scanopy/helmfile.yaml.gotmpl
  apps/storage/cnpg/helmfile.yaml.gotmpl
  apps/storage/cnpg/test-cluster/helmfile.yaml.gotmpl
Due: none

Update Helm release meilisearch to v0.33.0
  charts/bar-assistant/Chart.yaml
Due: publish-charts

add nushell to builder image
  infrastructure/images/builds/builder.yaml
  infrastructure/images/dockerfiles/builder/Dockerfile
Due: generate-images-pipeline, trigger-images-sync

keep longhorn off flux
  apps/storage/longhorn/values.yaml.gotmpl
Due: none

update traefik to v41
  apps/core/traefik/helmfile.yaml.gotmpl
  apps/core/traefik/values.yaml.gotmpl
Due: none

update argocd to v10
  apps/core/argocd/helmfile.yaml.gotmpl
Due: none

fix argocd health checks
  apps/core/argocd/values.yaml.gotmpl
Due: none
