Repository mrdvince/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate-images-pipeline, trigger-images-sync, publish-charts

Path conditions:
  generate-images-pipeline: any of: infrastructure/images/images/**/*.yaml, infrastructure/images/builds/**/*.yaml, infrastructure/images/templates/**/*.yml
  trigger-images-sync: any of: infrastructure/images/images/**/*.yaml, infrastructure/images/builds/**/*.yaml, infrastructure/images/templates/**/*.yml
  publish-charts: any of: charts/**/*

stabilize chart ci renders
  .gitlab-ci.yml
  ci/lib/images.nu
Due: none

normalize nested chart packages
  ci/charts.nu
Due: none

add tirnanog aion worker
  infrastructure/avalon/clusters/aion/cluster/terragrunt.hcl
  infrastructure/tirnanog/clusters/aion/workers/terragrunt.hcl
Due: none

spread gitlab across workers
  apps/services/gitlab/gitlab/values.yaml.gotmpl
  apps/services/gitlab/postgres/values.yaml.gotmpl
  apps/services/gitlab/redis/values.yaml.gotmpl
Due: none

keep traefik available under pressure
  apps/core/traefik/values.yaml.gotmpl
Due: none

fix gitlab image inventory render
  apps/services/gitlab/gitlab/values.yaml.gotmpl
Due: none

keep gitlab sidekiq single
  apps/services/gitlab/gitlab/values.yaml.gotmpl
Due: none

run gitlab web on tirnanog
  apps/services/gitlab/gitlab/values.yaml.gotmpl
Due: none

increase gitlab web concurrency
  apps/services/gitlab/gitlab/values.yaml.gotmpl
Due: none

add workers and isolate control planes
  infrastructure/avalon/clusters/aion/cluster/terragrunt.hcl
  infrastructure/avalon/clusters/aion/worker/terragrunt.hcl
  infrastructure/elysium/clusters/aion/workers/terragrunt.hcl
  infrastructure/tirnanog/clusters/aion/workers/terragrunt.hcl
Due: none

remove longhorn storage
  README.md
  apps/core/traefik/values.yaml.gotmpl
  apps/monitoring/alloy/values.yaml.gotmpl
  apps/monitoring/grafana/alerting/rules.yaml
  apps/storage/cnpg/test-cluster/values.yaml.gotmpl
  apps/storage/longhorn/argocd.yaml
  apps/storage/longhorn/helmfile.yaml.gotmpl
  apps/storage/longhorn/values.yaml.gotmpl
  ci/generated-images.gitlab-ci.yml
  infrastructure/avalon/clusters/aion/cluster/terragrunt.hcl
  infrastructure/avalon/clusters/aion/outposts/terragrunt.hcl
  infrastructure/charts/sources.yaml
  renovate.json
Due: none

allow external dns deletions
  apps/core/external-dns/values.yaml.gotmpl
Due: none

add librechat images
  ci/generated-images.gitlab-ci.yml
  infrastructure/images/images/local/librechat.yaml
Due: generate-images-pipeline, trigger-images-sync

replace open webui with librechat
  apps/services/hermes/values.yaml.gotmpl
  apps/services/librechat/argocd.yaml
  apps/services/librechat/helmfile.yaml.gotmpl
  apps/services/librechat/values.yaml.gotmpl
  apps/services/open-webui/values.yaml.gotmpl
  ci/generated-images.gitlab-ci.yml
  infrastructure/avalon/clusters/aion/oidc/open-webui/terragrunt.hcl
  infrastructure/images/images/local/open-webui.yaml
  secrets/secrets.enc.yaml
Due: generate-images-pipeline, trigger-images-sync

set librechat icon
  infrastructure/avalon/clusters/aion/oidc/open-webui/terragrunt.hcl
Due: none

enable librechat titles
  apps/services/librechat/values.yaml.gotmpl
Due: none

add codex runtime image
  ci/generated-images.gitlab-ci.yml
  ci/lib/generated.nu
  ci/tests/generated-ci.nu
  infrastructure/images/builds/codex.yaml
  infrastructure/images/dockerfiles/codex/Dockerfile
  infrastructure/images/dockerfiles/codex/codex-remote-control
Due: generate-images-pipeline, trigger-images-sync

deploy codex workspace
  apps/services/codex/argocd.yaml
  apps/services/codex/helmfile.yaml.gotmpl
  apps/services/codex/values.yaml.gotmpl
  ci/generated-images.gitlab-ci.yml
  secrets/secrets.enc.yaml
Due: none

create codex state directories
  apps/services/codex/values.yaml.gotmpl
Due: none

harden codex remote control
  infrastructure/images/builds/codex.yaml
  infrastructure/images/dockerfiles/codex/Dockerfile
  infrastructure/images/dockerfiles/codex/codex-remote-control
Due: generate-images-pipeline, trigger-images-sync

allow codex gitlab ssh
  apps/services/codex/values.yaml.gotmpl
Due: none

open codex outbound access
  apps/services/codex/values.yaml.gotmpl
  ci/generated-images.gitlab-ci.yml
Due: none

persist codex ssh access
  apps/services/codex/values.yaml.gotmpl
Due: none

expose linuxbrew to codex
  apps/services/codex/values.yaml.gotmpl
  infrastructure/images/builds/codex.yaml
  infrastructure/images/dockerfiles/codex/Dockerfile
  infrastructure/images/dockerfiles/codex/codex-profile.sh
Due: generate-images-pipeline, trigger-images-sync

regenerate codex image jobs
  ci/generated-images.gitlab-ci.yml
Due: none

Update dependency renovate to v43.279.1
  .gitlab-ci.yml
  ci/generated-images.gitlab-ci.yml
  infrastructure/images/builds/renovate.yaml
  infrastructure/images/dockerfiles/renovate/Dockerfile
Due: generate-images-pipeline, trigger-images-sync

fix generated image inventory
  .gitlab-ci.yml
  ci/generated-images.gitlab-ci.yml
  ci/images.nu
  ci/lib/generated.nu
  ci/lib/images.nu
  ci/tests/generated-ci.nu
  ci/tests/renovate.nu
  renovate.json
Due: none

isolate hermes image updates
  ci/tests/renovate.nu
  renovate.json
Due: none

Update container images
  ci/generated-images.gitlab-ci.yml
  infrastructure/images/dockerfiles/hermes-agent/Dockerfile
  infrastructure/images/dockerfiles/proton-bridge/Dockerfile
  infrastructure/images/images/local/apps.yaml
  infrastructure/images/images/local/drawio.yaml
  infrastructure/images/images/local/hermes.yaml
  infrastructure/images/images/local/infisical.yaml
  infrastructure/images/images/local/librechat.yaml
  infrastructure/images/images/local/penpot.yaml
  infrastructure/images/images/local/renovate.yaml
Due: generate-images-pipeline, trigger-images-sync

defer hermes image update
  ci/generated-images.gitlab-ci.yml
  infrastructure/images/dockerfiles/hermes-agent/Dockerfile
  infrastructure/images/images/local/hermes.yaml
Due: generate-images-pipeline, trigger-images-sync

defer mongodb image update
  ci/generated-images.gitlab-ci.yml
  ci/tests/renovate.nu
  infrastructure/images/images/local/librechat.yaml
  renovate.json
Due: generate-images-pipeline, trigger-images-sync

fix generated image inventory
  ci/generated-images.gitlab-ci.yml
  ci/lib/generated.nu
Due: none

Update dependency renovate to v43.280.0
  .gitlab-ci.yml
  ci/generated-images.gitlab-ci.yml
  infrastructure/images/builds/renovate.yaml
  infrastructure/images/dockerfiles/renovate/Dockerfile
Due: generate-images-pipeline, trigger-images-sync

pass sops key to renovate renders
  .gitlab-ci.yml
  ci/tests/renovate.nu
  renovate.json
Due: none

Update renovate/renovate Docker tag to v43.280.0
  infrastructure/images/images/local/renovate.yaml
Due: generate-images-pipeline, trigger-images-sync

refresh renovate image inventory
  ci/generated-images.gitlab-ci.yml
Due: none

Update library/mongo Docker tag to v8.3.7
  infrastructure/images/images/local/librechat.yaml
Due: generate-images-pipeline, trigger-images-sync

refresh mongodb image inventory
  ci/generated-images.gitlab-ci.yml
Due: none

add bar assistant probe timeouts
  apps/services/bar-assistant/helmfile.yaml.gotmpl
  apps/services/bar-assistant/values.yaml.gotmpl
  charts/bar-assistant/Chart.yaml
  charts/bar-assistant/templates/api-deployment.yaml
  charts/bar-assistant/values.yaml
  ci/generated-images.gitlab-ci.yml
Due: publish-charts
